[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.0"
flask-sqlalchemy = "==2.4.0"
gunicorn = "==19.9.0"
itsdangerous = "==1.1.0"
jinja2 = "==2.10.1"
markupsafe = "==1.1.1"
psycopg2 = "==2.8.3"
psycopg2-binary = "==2.8.3"
werkzeug = "==0.15.5"
Flask = "==1.1.1"
SQLAlchemy = "==1.3.7"
sendmail = "*"

[dev-packages]

[requires]
python_version = "3.9"
