<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank you</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body class="container text-center">
     <div class="container" >
        <div class="text-center">
            <img src="../static/logo.png" alt="Responsive image" class="img-fluid">
        </div>
         <div >
             <h2> thank you</h2>
             <h4> thank you for rating your experience, we hope to see you soon!</h4>
         </div>

     </div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

</body>
</html>